<!DOCTYPE html>
<html>
<head>
</head>
<body>

<!-- before yield -->
<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
<%= yield %>
<!-- after yield -->

</body>
</html>
